body {
  background-color: orange;
}

.box {
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 9px 0px black;
}

.row {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  border-radius: 15px;
  background-color: maroon;
  box-shadow: 0 9px 15px 15px pink;
}

.card-body {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  box-shadow: inset 12px 12px 12px #cbded1, inset -12px -12px 12px white;
  border: none;
  text-align: center;
  font-size: 20px;
}

.col-md-4:hover {
  background-color: pink;
}
