body {
  background-color: beige;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: hotpink;
  box-shadow: 2px 3px gray;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif
  font-size: 15px;
  font-weight: bold;
}

.card {
  list-style-type: none;
  height: 250px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 3px gray;
  position: relative;
}

.img {
  width: 180px;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: 35px;
}

.card-title {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  margin-left: 350px;
  margin-top: -170px;
}

.card-text {
  font-size: 17px;
  margin-left: 350px;
  margin-top: -20px;
}

.btn {
  font-family: sans-serif;
  font-size: 1em;
  background: blue;
  color: white;
  border: blue 0.1rem solid;
  border-radius: 0.2rem;
  padding: 0.6rem 0.6rem;
  text-decoration: none;
  margin-left: 350px;
}

.btn:hover {
  background: hotpink;
}

.btn1 {
  font-family: sans-serif;
  font-size: 1em;
  background: white;
  color: green;
  border: green 0.1rem solid;
  border-radius: 0.2rem;
  padding: 0.6rem 0.6rem;
  text-decoration: none;
  margin-left: 5px;
}

.btn1:hover {
  background: hotpink;
}

.text-1 {
  margin-left: 650px;
  margin-top: -150px;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
}

.text-2 {
  margin-left: 850px;
  margin-top: -175px;
  font-size: 20px;
  line-height: 15px;
}

.card1 {
  list-style-type: none;
  height: 520px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 3px gray;
  position: relative;
}

label {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.form-control {
  width: 1895px;
  height: 25px;
}

.btn2 {
  font-weight: bold;
  background: green;
  color: white;
  border: white 0.1rem solid;
  width: 1905px;
  border-radius: 0.2rem;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
}

.btn2:hover {
  background: hotpink;
}
